@import 'layout';
@import 'forms';
@import 'components/modal';

html, body {
  margin: 0;
  height: 100%;
}

body {
  position: relative;
  font-size: 16px;
  height: 100%;
  background-color: #f4f5f7;
  overflow: hidden;
  z-index: 0;
  font-family: 'Roboto', sans-serif;
}

.main-header {
  height: 44px;
}

.main-content {
  height: 100%;
  position: relative;
}

button {
  background-color: #026aa7;
  border: none;
  box-shadow: none;
  color: #fff;
  padding: 6px 14px;
  border-radius: 3px;
  cursor: pointer;

  &:hover {
    background-color: darken(#026aa7, 10);
  }
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
